---
import About from "../components/about.svelte";
import Contact from "../components/contact.svelte";
import Skills from "../components/skills.svelte";
import Timeline from "../components/timeline.svelte";
import Title from "../components/title.svelte";
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="google-site-verification"
      content="BGgPI-cQGhq0RtJSaJdQcBCgh5FP4B3k2MbOgNOJtb0"
    />
    <meta
      name="description"
      content="Bonjour et bienvenue sur mon CV numérique, je suis un développeur web / devops qui cherche a se lancer dans le freelance"
    />
    <meta name="robots" content="index, nofollow" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Kévin Moreau - Développeur fullstack web - DevOps</title>
  </head>
  <body>
    <span
      style="opacity: 1; user-select: none; position: absolute; top: -18px;"
      class="this-is-for-google-ligthouse-lcp">Test</span
    >
    <div class="contact"><Contact /></div>
    <div class="main">
      <Title
        title="Kévin Moreau."
        subtitle="Développeur fullstack web / DevOps"
        client:load
      />
      <section id="about">
        <About client:load />
      </section>
      <Timeline client:load />
      <Skills />
    </div>
    <div class="email"></div>
  </body>
</html>

<style>
  :root {
    --first-accent: rgb(0, 191, 255);
    --accent-gradient: linear-gradient(
      90deg,
      rgba(19, 100, 209, 1) 0%,
      rgba(19, 160, 209, 1) 35%
    );
    --side-width: 75px;
  }
  :global(*) {
    box-sizing: border-box;
  }
  :global(.title-gradient) {
    font-size: 2.8em;
    background: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
  }
  .main {
    min-height: 150vh;
    flex: 1;
    margin: 0 var(--side-width);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
  }
  body::-webkit-scrollbar {
    display: none;
  }

  .contact,
  .email {
    width: var(--side-width);
    min-height: 100vh;
    position: fixed;
  }
  .contact {
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .email {
    right: 0;
    top: 0;
  }
  body {
    margin: 0;
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #2c3e50;
  }
</style>
