<script>
  import showElementOnScroll from "../utils/showElementOnScroll";
  import { isTimelineVisible } from "../utils/store";
  const div = document.querySelector("#about") as Element;
  const animate = () => {
    if (document.documentElement.scrollTop >= 70) {
      div?.classList.add("show");
      window.removeEventListener("scroll", animate);
    }
  };
  window.addEventListener("scroll", animate);
  showElementOnScroll(isTimelineVisible, div, 0.3);
</script>

<div class="main" id="about">
  <h2 class="title-gradient">A propos de moi.</h2>
  <div class="img-quote">
    <div class="img-placeholder"></div>
    <p>
      <span class="quote">
        "Any application that can be written in JavaScript, will eventually be
        written in JavaScript."</span
      >Jeff Atwood 2007
    </p>
  </div>
  <p class="main-text">
    J'ai 20 ans et j'habite actuellement à Pau. Mon intérêt pour l'informatique
    s'est manifesté depuis l'enfance à jouer et réparer le PC familial. C'est
    depuis la 3ème, lors d'un enseignement d'exploration que je decide de
    m'orienter vers "Création et innovation technologiques", que je découvre
    l'univers du web avec <span class="techno">HTML</span> et <span
      class="techno">CSS</span
    >. Même si c'était tout simple j'ai vraiment aimé l'aspect "voir ce qui se
    passe de l'autre côté" de tous les grands cite que nous visitons. Force de
    ma curiosité et après un BAC scientifique je décide de me lancer en tant
    qu'alternant développeur informatique au <a
      href="https://www.cesi.fr"
      target="_blank"
      class="link">CESI</a
    > de Pau. Je finis par être alternant DevOps à <a
      href="https://www.inetum.com/fr"
      target="_blank"
      class="link">Inetum</a
    > en mars 2021, sois 5 mois après le début de mon alternance (octobre 2020) pour
    cause de difficulté à trouver une entreprise due au COVID. D'octobre à mars j'avais
    donc beaucoup de temps libre et je décide d'apprendre de nouvelles technologies
    web ! J'ai donc appris
    <span class="techno">JQuery</span>,
    <span class="techno">PHP</span>
    et linux pour le développement web. Par la suite j'ai pu notamment découvrir
    <span class="techno">Javascript</span>,
    <span class="techno">Typescript</span>,
    <span class="techno">AstroJs</span> et <span class="techno">SvelteKit</span>
    (et bien d'autre !) qui m'ont aidé a faire ce site.
  </p>
  <p class="currently">
    Actuellement j'aimerais faire du freelance a mes heures perdus.
  </p>
</div>

<style>
  h2 {
    display: initial;
  }
  @media screen and (max-width: 1000px) {
    .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: justify;
    }
  }
  .techno {
    color: var(--first-accent);
  }
  .link {
    all: unset;
    text-decoration: underline;
    cursor: pointer;
    text-decoration-color: var(--first-accent);
  }
  .img-quote p {
    text-align: center;
    font-size: var(--quote-font-size);
  }
  .main-text,
  .currently {
    font-size: var(--text-font-size);
  }
  #about {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    transform: translateY(15px);
    padding: 0 5%;
  }
  .quote {
    font-style: italic;
    display: block;
  }
  .img-quote {
    float: right;
    width: 200px;
    margin: 0 10px;
  }
  .img-placeholder {
    aspect-ratio: 1/1;
    width: inherit;
    background-image: url("/myself.jpg");
    background-size: cover;
    border-radius: 50%;

    filter: grayscale(1);
    transition: all 0.3s;
  }
  .img-placeholder:hover {
    filter: grayscale(0);
    transform: scale(1.01);
  }
  @keyframes slide-from-bottom-about {
    0% {
      visibility: visible;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
      visibility: visible;
    }
  }
  .show {
    animation: slide-from-bottom-about 0.5s linear 0.5s 1 normal both;
  }
</style>
