---
import { skills } from "../content/skills.json";
import { Image } from "@astrojs/image/components";
---

<script>
  import { isSkillsVisible } from "../utils/store";

  const div = document.querySelector("#skills") as Element;
  isSkillsVisible.listen((isVisible) => {
    if (isVisible) {
      console.log("yo");
      div.classList.add("anim");
    }
  });
</script>
<div id="skills">
  <h2 class="title-gradient">Mes compétences</h2>
  <p class="tip">Survolez l'élément pour en savoir plus !</p>
  <div class="wrapper">
    {
      skills.map((categories) => (
        <div class="categories">
          <h3>{categories.title}</h3>
          <div class="container">
            {categories.content.map((skill) => (
              <div class="img-placeholder">
                <img src={skill.img} alt={skill.alt} />
                <p>{skill.alt}</p>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</div>

<style>
  @keyframes slide-from-bottom-skills {
    0% {
      visibility: visible;
    }

    100% {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }
  }
  .anim {
    animation: slide-from-bottom-skills 2s ease-in 0s 1 normal forwards;
  }
  .tip {
    font-weight: bold;
  }
  #skills {
    opacity: 0;
    transform: translateY(15px);
    padding: 0 5%;
    width: 100%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px 0;
  }
  .categories {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border: solid 1px aqua;
    border-radius: 12px;
    padding: 10px 10px 20px 10px;
    margin: 20px 0;
  }
  .img-placeholder {
    height: 80px;
    transition: all 0.5s;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img-placeholder:hover img {
    filter: blur(5px) brightness(0.7);
    transform: scale(0.9);
  }
  .img-placeholder:hover p {
    visibility: visible;
    opacity: 1;
  }
  .img-placeholder:active {
    transform: scale(0.9);
  }
  .img-placeholder img {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
  }
  .img-placeholder p {
    margin: auto;
    position: relative;
    top: -60%;
    visibility: hidden;
    opacity: 0;
    font-size: 1.2em;
    font-weight: bold;
    transition: all 0.3s;
  }
</style>
