---
import { skills } from "../content/skills.json";
import { Image } from "@astrojs/image/components";
---

<script>
  import { isSkillsVisible } from "../utils/store";

  const div = document.querySelector("#skills") as Element;
  isSkillsVisible.listen((isVisible) => {
    if (isVisible) {
      console.log("yo");
      div.classList.add("anim");
    }
  });
</script>
<div id="skills">
  <h2 class="title-gradient">Mes compétences</h2>
  <div class="wrapper">
    {
      skills.map((categories) => (
        <div class="categories">
          <h3>{categories.title}</h3>
          <div class="container">
            {categories.content.map((skill) => (
              <div class="img-placeholder">
                <img src={skill.img} alt={skill.alt} />
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</div>

<style>
  @keyframes slide-from-bottom-skills {
    0% {
      visibility: visible;
    }

    100% {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }
  }
  .anim {
    animation: slide-from-bottom-skills 2s ease-in 0s 1 normal forwards;
  }
  #skills {
    opacity: 0;
    transform: translateY(15px);
    height: 700px;
    padding: 0 200px;
    width: 100%;
    margin: 0 200px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .categories {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border: solid 1px aqua;
    border-radius: 12px;
    padding: 10px 0 20px 0;
    margin: 20px 0;
  }
  .img-placeholder {
    width: 80;
    height: 80px;
    transition: all 0.5s;
    cursor: pointer;
  }

  .img-placeholder:hover {
    transform: scale(1.1);
  }
  .img-placeholder:active {
    transform: scale(0.9);
  }
  .img-placeholder img {
    width: 100%;
    height: 100%;
  }
</style>
